@charset "UTF-8";

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-seif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Adroid', cursive;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
}
main {
    max-width: 670px;
    margin: 20px auto;
    background-color: var(--cor0);
    color: var(--cor4);
    text-align: center;
    font-size: 20px;
    font-family: var(--fonte-padrao);
    padding: 20px;
    border: 5px solid var(--cor2);
}
section > picture {
    float: center;
    margin: -38px;
    font-size: 18px;
    text-align: center;
   
}